@import "tailwindcss";

:root {
  --font-misans-vf: "MiSans VF";
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: oklch(0.74 0.13 215);
  --primary-hover-color: color-mix(in oklch, var(--color-primary) 80%, white);
  --primary-active-color: color-mix(in oklch, var(--color-primary) 95%, white);
  --disabled-bg-color: oklch(0 0 0 / 4%);
  --disabled-color: oklch(0 0 0 / 25%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-primary-hover: var(--primary-hover-color);
  --color-primary-active: var(--primary-active-color);
  --color-disabled: var(--disabled-color);
  --color-disabled-bg: var(--disabled-bg-color);
  --default-transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-misans-vf), sans-serif;
  font-weight: 400;
}

::target-text {
  background-color: var(--primary-color);
  color: white;
}
