@import "tailwindcss";

:root {
  --font-misans-vf: "MiSans VF";

  --spacing-scrollbar: 8px;

  --primary-color: oklch(0.9366 0.0164 46.57);
  --secondary-color: oklch(0.7784 0.1546 57.91);
  --tertiary-color: oklch(0.5905 0.1875 35.8);
  --quaternary-color: oklch(0.3075 0.0848 36.2);
  --neutral-dark-color: #303030;
  --neutral-light-color: #f5f5f5;
  --neutral-gray-color: #808080;
}

@theme inline {
  --spacing-scrollbar: var(--spacing-scrollbar);

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertiary: var(--tertiary-color);
  --color-quaternary: var(--quaternary-color);
  --color-neutral-dark: var(--neutral-dark-color);
  --color-neutral-light: var(--neutral-light-color);
  --color-neutral-gray: var(--neutral-gray-color);

  --default-transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--neutral-light-color);
  color: var(--neutral-dark-color);
  font-family: var(--font-misans-vf), sans-serif;
  font-weight: 400;
}

::target-text {
  background-color: var(--primary-color);
  color: white;
}
